<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>%TITLE%</title>

<style type="text/css">
strong{
	font-variant: small-caps;
	text-transform: lowercase;
	color:#646464;
}
</style>

</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #FFFFFF; font-family: Helvetica, Arial, sans-serif;">
<!--100% body table-->
<table cellspacing="0" border="0" bgcolor="#ffffff" style="margin: 0; padding: 0; border: 0;" width="100%" cellpadding="0">
  <tr style="margin: 0; padding: 0; border: 0;">
    <td align="center" style="margin: 0; padding: 0; border: 0;">
    <!--email container-->
    	<table cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0; background: url(http://receipts.lsucs.org.uk/templates/receipt/images/bg.jpg);" bgcolor="#797979" width="805" cellpadding="0">
    		<tr height="76" style="margin: 0; padding: 0; border: 0;">
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(http://receipts.lsucs.org.uk/templates/receipt/images/top-1.jpg);" width="102">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(http://receipts.lsucs.org.uk/templates/receipt/images/top-2.jpg);" width="601">
    				<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
						<tr height="30" style="margin: 0; padding: 0; border: 0;">
							<td style="margin: 0; padding: 0; border: 0;" width="46"></td>
							<td style="margin: 0; padding: 0; border: 0;" width="508"></td>
							<td style="margin: 0; padding: 0; border: 0;" width="47"></td>
						</tr>
						<tr style="margin: 0; padding: 0; border: 0;">
							<td height="10" style="margin: 0; padding: 0; border: 0;"></td>
							<td align="center" style="padding: 0; font-size: 12px; line-height: 16px; border: 0; color: #EDEDED; margin: 0; font-famiy:Helvetica,Arial,sans-serif">
							</td>
							<td style="margin: 0; padding: 0; border: 0;"></td>
						</tr>
						<tr height="18" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td></tr>
					</table>
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(http://receipts.lsucs.org.uk/templates/receipt/images/top-3.jpg);" width="102">
    			</td>
    		</tr>
    		<tr height="67" style="margin: 0; padding: 0; border: 0;">
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    			<td style="border: 0; padding: 0; color: #f9f9f9; margin: 0; background: #B9B9B9 url(http://receipts.lsucs.org.uk/templates/receipt/images/header.jpg) no-repeat;" bgcolor="#B9B9B9" width="601"><div style="height:67px;">
    				<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
    					<tr style="margin: 0; padding: 0; border: 0;">
    						<td style="margin: 0; padding: 0; border: 0;" width="352"><table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
    							<tr height="55" style="margin: 0; padding: 0; border: 0;">
    								<td style="margin: 0; padding: 0; border: 0;" width="30"></td>
    								<td style="margin: 0; padding: 0; border: 0;" align="left" width="422"><h1 style="padding: 13px 0 0 0; margin: 0; font-size: 38px; font-weight: bold; border: 0; color:#f9f9f9; font:Helvetica; font-family:Helvetica, sans-serif">Society Receipt</h1></td>
    								</tr>
    							<tr height="12" style="margin: 0; padding: 0; border: 0;">
    								<td style="margin: 0; padding: 0; border: 0;"></td>
    								<td style="margin: 0; padding: 0; border: 0;"></td>
    								</tr>
    							</table></td>
    						<td style="margin: 0; padding: 0; border: 0;" width="150"><table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
    							<tr style="margin: 0; padding: 0; border: 0;">
    								<td style="margin: 0; padding: 0; border: 0; margin-right: 20px;" width="20" rowspan="3" align="left"><img src="http://receipts.lsucs.org.uk/templates/receipt/images/socfed.png" width="200px" style="display: inline;" /></td>
    								<td style="margin: 0; padding: 0; border: 0;" width="120"></td>
    								</tr>
    							<tr>
    								<td valign="top">
									
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="34"></td>
	</tr>
</table>
									
									
									</td>
    								</tr>
    							</table></td>
    						</tr>
    					</table>
    				</div></td>
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    		</tr>
    		<tr style="padding: 0; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; border: 0; color: #8e8e8e; margin: 0;">
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #E4E4E4 url(http://receipts.lsucs.org.uk/templates/receipt/images/bodybg.jpg);" bgcolor="#E4E4E4" width="601">
    			
    			<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
					<tr height="20" style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;" width="32"></td>
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0;" width="32"></td>
					</tr>
					<tr style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0; color:#8E8E8E; font-family: Helvetica, Arial, sans-serif; font-size:14px; line-height:21px;" align="left">
							<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
								<tr style="margin: 0; padding: 0; border: 0;" height="50">
									<td style="margin: 0; padding: 0; border: 0;" width="25">
										<img src="http://receipts.lsucs.org.uk/templates/receipt/images/arrow.jpg" height="20" width="16" style="display: inline;" />
									</td>
									<td style="margin: 0; padding: 0; border: 0;" width="576">
										<h2 style="font-size: 24px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif">Your purchase from %SOCIETY%</h2>
									</td>
								</tr>
								<tr style="margin: 0; padding: 0; border: 0;">
									<td colspan="2" style="margin: 0; padding: 0; border: 0;">
										<p style="margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#646464">Thankyou for your order with %SOCIETY%. Please keep this email as a record of your purchase. If you have any issues with products sold please contact %SOCEMAIL% or for any serious complaints contact the Societies Federation directly at %SOCFEDEMAIL%.
                                        </p>
										<h3>Receipt Information</h3>
                                        <p style="margin: 0; padding: 0; font-size: 14px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#646464">
                                        <strong>Name:</strong> %CUSTNAME%<br />
                                        <strong>Email:</strong> %CUSTEMAIL%<br />
                                        <strong>Student ID:</strong> %CUSTID%<br />
                                        <strong>Order Date:</strong> %ORDERDATE%<br />
                                        <strong>Issued By:</strong> %ISSUER%<br />
                                        <strong>Comments:</strong> %ORDERCOMMENTS%<br />
                                        </p>
                                        <p style="margin: 0; padding: 0; font-size: 14px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#646464">
                                            <strong>Product Details</strong><br />
                                            %PRODTABLE%<br />
                                            <b stye='font-size: 14px; color: #333;'>Order Total:</b> %ORDERTOTAL%<br />
                                        </p>
                                        <p style="margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#646464">
                                        
                                        </p>
									</td>
								</tr>
							</table>
						</td>
						<td style="margin: 0; padding: 0; border: 0;"></td>
					</tr>
					<tr height="25" style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td>
					</tr>
				
                </table>
    			
    			</td>
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    		</tr>
    		<tr height="69" style="margin: 0; padding: 0; border: 0;">
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td> 
    			<td style="padding: 0; border: 0; margin: 0; background: #B9B9B9 url(http://receipts.lsucs.org.uk/templates/receipt/images/footer.jpg);" bgcolor="#B9B9B9" width="601"><table cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0;" cellpadding="0" width="601">
				<tr height="12" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;" width="85"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;" width="85"></td></tr>
				<tr height="40" style="margin: 0; padding: 0; border: 0;">
					<td style="margin: 0; padding: 0; border: 0;"></td>
					<td align="center" style="padding: 0; font-size: 12px; line-height: 22px; border: 0; color: #eeeeee; margin: 0; font-family:Helvetica,Arial,sans-serif">
                        Loughborough Student Union Societies Federation
					</td>
					<td style="margin: 0; padding: 0; border: 0;"></td>
				</tr>
				<tr height="12" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td></tr>
			</table>
    			</td>
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    		</tr>
    		<tr height="90" style="margin: 0; padding: 0; border: 0;">
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(http://receipts.lsucs.org.uk/templates/receipt/images/bottom-1.jpg);">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(http://receipts.lsucs.org.uk/templates/receipt/images/bottom-2.jpg);" width="601">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(http://receipts.lsucs.org.uk/templates/receipt/images/bottom-3.jpg);">
    			</td>
    		</tr>
    	</table>
	</td>
  </tr>
</table>

</body></html>
