.accountTable {
	width: 100%;
}
	.accountTable tbody tr {
    	height: 40px;
    	line-height: 40px;
	}
	.accountTable tbody td {
		padding: 5px;
    	font-size: 14px;
    	text-align: center;
	}
	.accountTable input {
		text-align: center;
	}
	.accountTable .editable, .accountTable .selectable {
    	cursor: pointer;
	}
	
.DataTables_sort_wrapper {
    font-size: 14px;
}
.DataTables_sort_icon {
	float: right;
	margin-left: -16px;
}
.dataTables_paginate {
    font-size: 12px;
}
.dataTables_length {
    font-size: 12px;
}
.dataTables_info {
    font-size: 12px;
}
.dataTables_filter input {
    padding: 2px !important;
}
.dataTables_wrapper {
	min-height: 0px;
	margin-bottom: 30px;
}

.accountEmail {
	width: 150px;
	margin-left: 54px;
}
.accountStudentId {
	width: 100px;
}
.accountPassword {
	width: 100px;
}
.accountActive {
	width: 70px;
}
.societySpan .selector {
	margin-top: -4px;
}
.addAccountButton {
	font-size: 13px;
	margin-left: 10px;
	margin-bottom: 30px;
}