.productTable {
	width: 100%;
}
	.productTable tbody tr {
    	cursor: pointer;
    	height: 40px;
    	line-height: 40px;
	}
	.productTable td {
		padding: 5px;
    	font-size: 14px;
    	text-align: center;
	}
	.productTable input {
		text-align: center;
	}
	
.DataTables_sort_wrapper {
    font-size: 14px;
}
.DataTables_sort_icon {
	float: right;
	margin-left: -16px;
}
.dataTables_paginate {
    font-size: 12px;
}
.dataTables_length {
    font-size: 12px;
}
.dataTables_info {
    font-size: 12px;
}
.dataTables_filter input {
    padding: 2px !important;
}
.dataTables_wrapper {
	min-height: 0px;
	margin-bottom: 30px;
}

.productName {
	margin-left: 100px;
	width: 210px;
}
.productPrice {
	margin-left: 15px;
	width: 125px;
}
.productAvailable {
	margin-left: 15px;
	width: 125px;
}
.addProductButton {
	font-size: 13px;
	margin-left: 15px;
}
	
	